<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/">Home</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="projectsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Projects
    </a>
    <ul class="dropdown-menu" aria-labelledby="projectsDropdown">
      <li><a class="dropdown-item" href="{{ /pages/index }}{{ ryancutinha.github.io }}/pages/index">Home</a></li>
      <li><a class="dropdown-item" href="{{ /pages/currentdesign }}{{ ryancutinha.github.io }}/pages/currentdesign">Current Design</a></li>
      <li><a class="dropdown-item" href="{{ /pages/machinedesign }}{{ ryancutinha.github.io }}/pages/machinedesign">Machine Design</a></li>
      <li><a class="dropdown-item" href="{{ /pages/software }}{{ ryancutinha.github.io }}/pages/software">Software</a></li>
      <li><a class="dropdown-item" href="{{ /pages/sensors }}{{ ryancutinha.github.io }}/pages/index">Sensors Used</a></li>
      <li><a class="dropdown-item" href="{{ /pages/about }}{{ ryancutinha.github.io }}/pages/about">About Me</a></li>
    </ul>
  </li>
  </ul>