<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/">Home</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="projectsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Projects
    </a>
    <ul class="dropdown-menu" aria-labelledby="projectsDropdown">
      <li><a class="dropdown-item" href="{{ site.url }}{{ site.baseurl }}/pages/currentdesign.html">Current Design</a></li>
      <li><a class="dropdown-item" href="{{ site.url }}{{ site.baseurl }}/pages/machinedesign.html">Machine Design</a></li>
      <li><a class="dropdown-item" href="{{ site.url }}{{ site.baseurl }}/pages/software.html">Software</a></li>
      <li><a class="dropdown-item" href="{{ site.url }}{{ site.baseurl }}/pages/index.html">Sensors Used</a></li>
      <li><a class="dropdown-item" href="{{ site.url }}{{ site.baseurl }}/pages/about.html">About Me</a></li>
    </ul>
  </li>
  </ul>