---
---
@import "{{ site.theme }}";

body {
  color: #333;
}

<style>
.full-width-image {
    max-width: 50%;
    height: 50%;
    display: block;
    margin: 0 auto 20px auto;
}

figcaption {
    text-align: left;
    font-style: default;
    color: #555;
    margin-top: 5px;
}
</style>