---
---
@import "{{ site.theme }}";

body {
  color: #333;
}


.my-custom-image-class {
    max-width: 100%; 
    height: auto; 
    display: block; /* Centers block-level images if combined with margin: auto */
    margin: 20px auto; /* Add vertical spacing and center */
    border: 1px solid #303030;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1); 
}